/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-other: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size: 18px;
  --font-family: "IBM Plex Mono", monospase;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --decor-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --base-text-color: #F1B2CE;
  --heading-text-color: #000028;
  --content-title-color: #FF0070;
  --accent-color: #FF0070;
  --background-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
}

/* @media (prefers-color-scheme: dark) {
  :root .page.theme_auto {
    --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --title-font-size-other: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --font-size: 18px;
    --font-family: "IBM Plex Mono", monospase;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --decor-color: #FF0070;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --base-text-color: #F1B2CE;
    --heading-text-color: #000028;
    --content-title-color: #FF0070;
    --accent-color: #FF0070;
    --background-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
  }
} */