/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .page.theme_light {
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-other: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size: 18px;
  --font-family: "IBM Plex Mono", monospase;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --decor-color: #353430;
  --title-color:  #FFC2E6;
  --title-shadow: #FF8DCB;
  --base-text-color: #353430;
  --heading-text-color:  #353430;
  --content-title-color: #353430;
  --accent-color: #FF8DCB;
  --background-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
}

.page.theme_light .header__hidden-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root .page.theme_auto {
    --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --title-font-size-other: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --font-size: 18px;
    --font-family: "IBM Plex Mono", serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --decor-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --base-text-color: #353430;
    --heading-text-color: #353430;
    --content-title-color: #353430;
    --accent-color: #FF8DCB;
    --background-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
  }

  .page.theme_auto .header__hidden-text {
    display: none;
  }
}