.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  color: var(--base-text-color);
  line-height: 23.4px;
  background-position: center;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
  margin: 0 auto;
}

.header {
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;

}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border: 1px solid var(--decor-color);
  border-inline-start: none;
  border-block-end: none;
  z-index: 0;
}

.decorated-zone::after {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border: 1px solid var(--decor-color);
  border-inline-end: none;
  border-block-start: none;
  z-index: 0;
} 

.header__hidden-text {
  position: absolute;
  top: 11px;
  right: 38px;
  z-index: 0;
  text-transform: uppercase;
  color: var(--decor-color);
}

.header__hidden-text::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--decor-color);
  border: 1px solid var(--decor-color);
  border-radius: 50%;
  color: var(--decor-color);
  box-shadow: 0px 0px 4px 2px var(--decor-color);
  position: absolute;
  top: 7px;
  right: -18px;
}

.header__theme-menu {
  justify-self: end;
  color: var(--decor-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  inline-size: 70px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  background-color: transparent;
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--focus-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__title {
  font-family: var(--font-family), monospace;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: 95.7px;
  text-align: left;
  color: var(--title-color);
  text-shadow: 4px 4px var(--title-shadow);
}

.header__description {
  inline-size: 100%;
}

.header__text {
  font-weight: var(--font-weight-bold);
  color: var(--heading-text-color);
  background-color: var(--accent-color);
}

.content {
  padding: 40px 10px;
  margin: 0 auto;
}
.content__section {
  line-height: 130%;
}

.content__section-title {
  margin-bottom: 20px;
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  color: var(--content-title-color);
  text-align: left;
}

.content__section-list {
  display: grid;
  gap: 20px;
  align-items: start;
  margin-bottom: 50px;
}

.content__section-list-article {
  display: grid;
  gap: 10px;
}

.content__section-list-article-title {
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  color: var(--heading-text-color);
  block-size: min-content;
}

.article-title-decor {
  inline-size: 100%;
  background-color: var(--accent-color);
}

.content__section-list-article-heading {
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  line-height: 23.4px;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--heading-text-color);
}

.content-link {
  color: var(--base-text-color);
  text-shadow: 1px 1px var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.content-link:hover {
  border-bottom: 1px solid var(--base-text-color);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color);
  line-height: 23.4px;
  text-align: left;
  color: var(--heading-text-color);
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: inline-start block-start;
}

.footer {
  margin: 0 auto;
  inline-size: 100%;
  min-block-size: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: var(--title-font-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 2px 2px var(--title-shadow);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__hidden-text {
    top: 24px;
    right: 48px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  } 

  .header__title {
    line-height: 99px;
    font-size: var(--title-font-size-other);
    margin-left: -18px;
    margin-block-start: 7px;
  }

  .header__description {
    inline-size: 364px;
    justify-self: end;
  }

  .content {
    padding: 60px 20px;
    margin-block-start: 3px;
  }

  .content__section {
    margin-bottom: 80px;
  }

  .content__section-list {
    margin-bottom: 0;
  }

  .section__category {
    display: grid;
    gap: 20px;
    grid-template-columns: 236px 1fr;
  }

.section__what > .content__section-title {
  inline-size: 30%;
  }

  .gallery {
    display: grid;
    gap: 20px;
  }

  .gallery__title {
    display: block;
    inline-size: 100%;
    grid-column: span 3;
  }

  .gallery__image-sun {
    grid-column: span 2;
  }

  .gallery__image-ice-cream {
    grid-row: span 2;
  }

  .gallery__image-books {
    grid-column: 2/3
  }

  .gallery__image-tape {
    grid-row: span 2;
  }

  .gallery__image-street {
    grid-column: span 2;
  }
  
  .gallery__image {
    block-size: 100%;
  }

  .footer__title {
    font-size: var(--title-font-size-other);
  }
 }

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    line-height: 129.53px;
  }

  .header__description {
    inline-size: 491px;
  }

  .section__category {
    display: grid;
    gap: 20px;
    grid-template-columns: 315px 1fr;
  }

  .section__article-style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .footer__title {
    line-height: 129.53px;
  }
}