:root {
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-other: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size: 18px;
  --font-family: "IBM Plex Mono", serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --decor-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --base-text-color: #F1B2CE;
  --heading-text-color: #000028;
  --accent-color: #FF0070;
  --background-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  inline-size: 375px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  color: var(--base-text-color);
  line-height: 23.4px;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
}

.header {
  inline-size: 100%;
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  gap: 55px;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  padding: 10px;
}

.decorated-zone {
  position: relative;
  z-index: 0;
  min-height: 668px;
  max-height: 100vh;
  padding: 10px;
}

.decorated-zone::before {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border: 1px solid var(--decor-color);
  border-inline-start: none;
  border-block-end: none;
  z-index: 0;
}

.decorated-zone::after {
  content: '';
  display: block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border: 1px solid var(--decor-color);
  border-inline-end: none;
  border-block-start: none;
  z-index: 0;
} 

.header__hidden-text {
  position: absolute;
  top: 11px;
  right: 38px;
  z-index: 0;
  text-transform: uppercase;
  color: var(--decor-color);
}

.header__hidden-text::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--decor-color);
  border: 1px solid var(--decor-color);
  border-radius: 50%;
  color: var(--decor-color);
  box-shadow: 0px 0px 4px 2px var(--decor-color);
  position: absolute;
  top: 7px;
  right: -18px;
}

.header__theme-menu {
  justify-self: end;
  color: var(--decor-color);
  align-self: center;
  margin-block-start: 50px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  inline-size: 70px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  background-color: transparent;
  border: 1px solid var(--decor-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--decor-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.header__title {
  font-family: var(--font-family), serif;
  font-size: var(--title-font-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: 95.7px;
  text-align: left;
  color: var(--title-color);
  text-shadow: 4px 4px var(--title-shadow);
}

.header__text {
  display: block;
  inline-size: auto;
  block-size: 117px;
  font-weight: var(--font-weight-bold);
  color: var(--heading-text-color);
  background-color: var(--accent-color);
}

.content {
  padding: 40px 10px;
}

.content__section {
  margin-bottom: 50px;
}

.content__section-why {
  display: grid;
  gap: 20px;
}

.content__section-title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  text-align: left;
  color: var(--accent-color);
}

.content__section-why-list {
  display: grid;
  gap: 20px;
}

.content__section-why-list-article {
  display: grid;
  gap: 10px;
}

.content__section-list-article-title {
  background-color: var(--accent-color);
  color: var(--heading-text-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  text-align: left;
}

.content__section-list-article-text {
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  text-align: left;
}

.content-link {
  color: var(--base-text-color);
  text-shadow: 1px 1px var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.content-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px solid var(--base-text-color);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid var(--base-text-color);
}

.content__section-what-list {
  margin-bottom: 20px;
  display: grid;
  gap: 20px;
}

.content__section-what-list-article {
  display: grid;
  gap: 10px;
}

.content__section-council {
  display: grid;
  gap: 20px;
}

.content__section-council-list {
  display: grid;
  gap: 20px;
}

.content__section-list-article-heading {
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  line-height: 23.4px;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--heading-text-color);
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}
.gallery__title {
  font-family: var(--font-family), serif;
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  background-color: var(--accent-color);
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color);
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: inline-start block-start;
}

.footer {
  inline-size: 100%;
  min-block-size: 668px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: var(--title-font-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: 95.7px;
  color: var(--title-color);
  text-shadow: 2px 2px var(--title-shadow);
}

 @media (width >= 768px) {
  .page {
    inline-size: 768px;
  }

  .header {
    padding: 20px;
    gap: 162px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__hidden-text {
    top: 24px;
    right: 48px;
  }
  
  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  } 

  .header__theme-menu {
    margin-block-start: 162px;
  }

  .header__title {
    line-height: 99px;
    font-size: var(--title-font-size-other);
    margin-left: -20px;
  }

  .header__text {
    inline-size: 364px;
    justify-self: end;
  }

  .content {
    padding: 60px 20px;
    margin-block-start: 3px;
  }

  .content__section {
    margin-bottom: 80px;
  }

  .content__section-why {
    grid-template-columns: 236px 1fr;
  }

  .content__section-title-what {
    display: block;
    inline-size: 236px;
  }

  .content__section-council {
    grid-template-columns: 236px 1fr;
  }

  .gallery {
    display: grid;
    gap: 20px;
  }

  .gallery__title {
    display: block;
    inline-size: 100%;
    grid-column: span 3;
  }

  .gallery__image-sun {
    grid-column: span 2;
  }

  .gallery__image-ice-cream {
    grid-row: span 2;
  }

  .gallery__image-books {
    grid-column: 2/3
  }

  .gallery__image-tape {
    grid-row: span 2;
  }

  .gallery__image-street {
    grid-column: span 2;
  }
  
  .gallery__image {
    block-size: 100%;
  }

  .footer__title {
    font-size: var(--title-font-size-other);
  }
 }

@media (width >= 1024px) {
  .page {
    min-width: 1024px;
  }

  .header {
    gap: 114px;
  }

  .header__theme-menu {
    margin-block-start: 1px;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    line-height: 129.53px;
  }

  .header__text {
    inline-size: 491px;
    block-size: 71px;
  }

  .content__section {
    margin-bottom: 80px;
  }

  .content__section-why {
    grid-template-columns: 315px 1fr;
  }

  .content__section-what-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    gap: 20px;
  }

  .content__section-title-what {
    inline-size: 315px;
    grid-column: span 3;
  }

  .content__section-what-list-article {
    grid-template-rows: min-content 1fr;
  }

  .content__section-council {
    grid-template-columns: 315px 1fr;
  }
 
  .footer__title {
    line-height: 129.53px;
    font-size: var(--title-font-size-other);
  }
}